# Xcode & macOS
.DS_Store
*/.DS_Store
*.xcuserstate
project.xcworkspace/xcuserdata/
*.xcuserdatad/
*.xcscmblueprint
xcuserdata/
DerivedData/
build/
*.build/
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Swift Package Manager
.build/
Packages/
Package.pins
Package.resolved
.swiftpm/xcode

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output

# Credentials & Provisioning
*.mobileprovision
*.cer
*.cert
*.p12
*.p8
*.key
*.pem
